{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Marks</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Enter Marks</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Student</th>
                            <th>Marks Obtained</th>
                            <th>Total Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.username }}</td>
                            <td>
                                <input type="number" class="form-control" name="marks_obtained_{{ student.id }}" value="{{ marks|get_item:student.id|default_if_none:''|attr:'marks_obtained' }}" min="0">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="total_marks_{{ student.id }}" value="{{ marks|get_item:student.id|default_if_none:''|attr:'total_marks' }}" min="0">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-secondary">Update Marks</button>
        </form>
        <a href="{% url 'teacher_home' %}" class="btn btn-secondary mt-3">Go to Home</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
